.header {
  height: 140px;
  background-color: #292929;
  padding: 45px 85px;
}

.header h2 {
  color: #ffffff;
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 11px;
  font-size: 20px;
}

.jumbotron {
  height: 550px;
  background-image: url("./assests/images/bg.jpeg");
  padding: 85px 85px;
}

.jumbotron h3 {
  font-size: 65px;
  color: #fff;
}

.search {
  padding: 40px 85px;
  outline-color: black;
}

.search input {
  border-color: black;
  border-radius: 0;
}

.movies {
  padding: 20px 85px;
}

.movie {
  height: 120px;
  width: 120px;
  background-color: black;
  margin: 10px;
  border-radius: 5px;
  margin-left: 0;
  display: inline-block;
}

.movie h5 {
  color: #fff;
  padding: 30px 10px;
  text-align: center;
}
